{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Form</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body class="w-11/12 mx-auto">
    <h1>Sign In</h1>
        <form method="POST" >
            {% csrf_token %}
            <input type="text" placeholder="username" name='username'>
            <input type="password" placeholder="password" name='password'>
            <button class="btn bg-amber-600" type='submit'>Submit</button>
        </form>
</body>
</html>